body {
  margin-top: 0;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 6rem;
  position: relative;
  top: 60px;
}

.guy {
  background-color: rgba(210, 79, 59, 0.5);
  border-radius: 10px;
  box-shadow: 6px 4px 4px rgba(18, 105, 117, 0.2);
  margin: 0 auto;
  padding: 30px 70px;
  position: relative;
  top: 35px;
  width: 390px;
}

.hero {
  background-image: URL(images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 900px;
  position: relative;
  text-align: center;
  top: -60px;
  width: 100vw;
}

#lowLeftLeg {
  z-index: 3;
  background-color: blue;
  height: 300px;
  width: 100px;
  position: fixed;
  top: 0px;
  left: 0px;
}

#lowRightLeg {
  z-index: 3;
  background-color: blue;
  height: 300px;
  width: 100px;
  position: fixed;
  top: 500px;
  left: 500px;
}
